body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 117, 42);
    margin: 20px 20%;
    padding: 30px 30px 60px;
    border-radius: 10px;
    border-style: solid;
}
.button-container{
    display: flex;
    flex-direction: column;
    margin: 30px 20%;
    padding: 30px 30px 60px;
}
.start-button{
    height: 100px;
    width: 550px;
}