body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.clock-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 117, 42);
    margin: 20px 30%;
    padding: 30px 60px 240px;
    border-radius: 10px;
    border-color: rgb(207, 117, 42);
    border-style: solid;
}

.button-container{

}
.start-button{
    text-align:center;
    display: flex;
    padding: 40px 30%;
  
}